# Environments
.venv/
.env
.env.*

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/

# Build / dist
build/
dist/
*.egg-info/

# IDE / editor
.vscode/
.idea/
*.swp
